<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <div class="heading">
        <h2>Network</h2>
      </div>
      <div class="main-content-body">
        <div class="two-columns">
          <!-- Columns Start -->
          <div class="columns">
            <div class="columns-top">
              <dl>
                <dt>Left Points</dt>
                <dd>1200</dd>
              </dl>
              <dl>
                <dt>Left Team</dt>
                <dd>12 Members</dd>
              </dl>
            </div>
            <div class="columns-bottom">
              <h4>Left Referrel Link</h4>
              <div class="link-block">
                <a href="http://www.google.com">http://www.google.com</a>
                <label for="copy-link-1" class="copy-link-label">
                  <input id="copy-link-1" readonly type="text" value="http://www.google.com" class="copy-link">
                  Copy
                </label>
              </div>
            </div>
          </div>
          <!-- Columns End -->

          <!-- Columns Start -->
          <div class="columns">
            <div class="columns-top">
              <dl>
                <dt>Right Points</dt>
                <dd>1200</dd>
              </dl>
              <dl>
                <dt>Right Team</dt>
                <dd>12 Members</dd>
              </dl>
            </div>
            <div class="columns-bottom">
              <h4>Right Referrel Link</h4>
              <div class="link-block">
                <a href="http://www.yahoo.com">http://www.yahoo.com</a>
                <label for="copy-link-2" class="copy-link-label">
                  <input id="copy-link-2" readonly type="text" value="http://www.yahoo.com" class="copy-link">
                  Copy
                </label>
              </div>
            </div>
          </div>
          <!-- Columns End -->
        </div>
      </div>
    </div>
    <!-- Content Block 1 End -->
    <!-- Content Block 2 Start -->
    <div class="main-content-block">
      <div class="heading">
        <h2>Binary Genealogy</h2>
      </div>
      <div class="main-content-body">
        <div class="binary-genealogy-block">
          <div class="binary-genealogy-top">
            <div class="tree-profile-holder">
              <div class="tree-image-holder">
                <img src="images/ic_user.png" alt="Profile Image">
              </div>
              <div class="tree-user-id">
                <strong>Ihsanilyas508</strong>
              </div>
            </div>
          </div>

          <div class="binary-genealogy-middle">
            <div class="tree-profile-holder left-align">
              <div class="tree-image-holder">
                <img src="images/ic_user.png" alt="Profile Image">
              </div>
              <div class="tree-user-id">
                <strong>Ihsanilyas508</strong>
              </div>
            </div>

            <div class="tree-profile-holder right-align">
              <div class="tree-image-holder">
                <img src="images/ic_user.png" alt="Profile Image">
              </div>
              <div class="tree-user-id">
                <strong>Ihsanilyas508</strong>
              </div>
            </div>
          </div>

          <div class="binary-genealogy-bottom">
            <div class="binary-genealogy-bottom-holder inner-left">
              <div class="tree-profile-holder left-align">
                <div class="tree-image-holder">
                  <img src="images/ic_user.png" alt="Profile Image">
                </div>
                <div class="tree-user-id">
                  <strong>Ihsanilyas508</strong>
                </div>
              </div>

              <div class="tree-profile-holder right-align">
                <div class="tree-image-holder">
                  <img src="images/ic_user.png" alt="Profile Image">
                </div>
                <div class="tree-user-id">
                  <strong>Ihsanilyas508</strong>
                </div>
              </div>
            </div>
            <div class="binary-genealogy-bottom-holder inner-right">
              <div class="tree-profile-holder left-align">
                <div class="tree-image-holder">
                  <img src="images/ic_user.png" alt="Profile Image">
                </div>
                <div class="tree-user-id">
                  <strong>Ihsanilyas508</strong>
                </div>
              </div>

              <div class="tree-profile-holder right-align">
                <div class="tree-image-holder">
                  <img src="images/ic_user.png" alt="Profile Image">
                </div>
                <div class="tree-user-id">
                  <strong>Ihsanilyas508</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Block 2 End -->
  </div>
</main>
