<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <div class="heading">
        <h2>Third Level Referrals</h2>
      </div>
      <div class="main-content-body">
        <div class="history-widthdrawal-holder">
          <table>
            <thead>
            <tr>
              <th>Level</th>
              <th>Total Generated Income</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>Second</td>
                <td><%=@direct_rf %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Content Block 1 End -->
  </div>
</main>
