<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <div class="heading">
        <h2>Income</h2>
      </div>
      <div class="main-content-body">
        <h3>40 Pts</h3>
        <span>Total Balance</span>
        <div class="button-holder">
          <a class="custom-btn" href="#">Request Widthdrawl</a>
        </div>
      </div>
    </div>
    <!-- Content Block 1 End -->
  </div>
</main>