<h3>Dear <%= @user.full_name %></h3>

<p>
  Greetings from Forex Home Trade!
</p>
<p>We would maintain that thanks are the highest form of thoughts and the gratitude is happiness doubled by
  wonder. You have successfully activated (<%=@user.package_id %>$, <%=@package_name.capitalize %>)
  package. There are couples of things we want to mention. You can enjoy first ROI after 15 days of
  package activation. Because necessary adjustments takes place in first week. In second week, you will
  receive your first ROI and then in every week respectively. You can update package & merge it into a big
  package, through which you can earn more return. If you guide another person about package or enhance
  your network then your return will be a huge amount.</p>
<br>
<p>Minimum amount for withdrawal should be 60$. Withdrawal can be held only on Sunday from 10 am to 7
  pm (GMT +8). You can transfer funds to senior for withdrawal. You can also activate package of your
  friends/spouse/relatives through your funds, and in this way you can cash your fund.</p>
<br>
<p>
  Thanks a lot for being the part of Forex Home Trade. It has been our pleasure to provide you services.</p>
<br>
<b>Contact On Support:</b>
<p>For any suggestion, claim &amp; feedback, you can contact us 24/7.</p>
<p><a href="mailto:Support@Forexhometrade.com">Support@Forexhometrade.com</a> </p>
<br>


<p><b>LIMITATION: If you are not the intended recipient, please notify us immediately, you should not
  copy or use it for any purpose, not disclose its contents to any other person. In this case, please
  contact with us.</b></p>

<p>Thank you…...</p>
<b>
  <p>Kind Regards,</p>
  <p>Forex Home Trade Support Team</p>
</b>