<h3>Dear <%= @user.full_name %></h3>

<p>
  Greetings from Forex Home Trade!
</p>
<p>Please accept our sincere thanks and gratitude for your recent package upgrading (<%=@user.package_id %>$,<%=@package_name %>).it is
  truly our pleasure to serve you.
</p>
<p>
  Here at Forex Home Trade, you are enjoying highest Return on Investment. As you upgrade your
  package, you will enjoy more profits. You are right; it is more beneficial for you. Systematically, you will
  receive first withdrawal after 15 days of package upgrading. The system is automatic. We hope that your
  experience with us a pleasant one.
</p>
<br>
<p>
  Thanks a lot for being the part of Forex Home Trade. It has been our pleasure to provide you services.</p>
<br>
<p>
  As a valued client, your comments and opinions are very important for us.
</p>
<br>
<b>Contact On Support:</b>
<p>For any suggestion, claim &amp; feedback, you can contact us 24/7.</p>
<p><a href="mailto:Support@Forexhometrade.com">Support@Forexhometrade.com</a> </p>
<br>


<p><b>LIMITATION: If you are not the intended recipient, please notify us immediately, you should not
  copy or use it for any purpose, not disclose its contents to any other person. In this case, please
  contact with us.</b></p>

<p>Thank you</p>
<b>
  <p>Kind Regards,</p>
  <p>Forex Home Trade Support Team</p>
</b>