<h3>Dear <%= @user.full_name %></h3>

<p>
Greetings!
</p>
<p>Thanks a lot! For joining the Forex Home Trade. It is a pleasure to welcome to the Forex Home Trade. It is a good experience and vision for you that’ll lead you toward prosperous and rich life.</p>
<p>Your account has been successfully registered. You can sign in your Account through this detail.</p>
<br>
office.forexhometrade.com
<br>
Your E-mail: <%= @user.email %>
<br>
Your ID/USER: <%= @user.username %>

<h3>Package Activation Process:</h3>
<p>
You are now just a few small steps away from package activation.
</p>
<ul>
  <li>All information regarding the packages is in the Back Office.</li>
  <li> You can choose any package according to your interest.</li>
  <li>There are different payment gateways by which you can make your payment.</li>
  <li>After some duration of payment, the package will be activating.</li>
</ul>
<b>Account verification:</b>
<p>
  To make your account fully functional, you may have to complete your KYC (know your customer). Upload your proof of identification (CNIC/ Passport/ driving license)</p>
<p>Note: you have to take photographs of required documents with your own face.</p>
<b>Contact On Support:</b>
<p>For any suggestion, claim & feedback, you can contact us 24/7.</p>
<p><a href="mailto:Support@Forexhometrade.com">Support@Forexhometrade.com</a> </p>
<b>Security information:</b>
<ul>
  <li>All representatives of company will NEVER ask you to provide your passwords, Transactions PINs or access codes details by phone or e-mail.</li>
  <li>This e-mail is confidential and may also be authorized.</li>
</ul>

<p><b>LIMITATION: If you are not the intended recipient, please notify us immediately, you should not copy or use it for any purpose, not disclose its contents to any other person. In this case, please contact with us.</b></p>

<p>Thank you…...</p>
<b>
  <p>Kind Regards,</p>
  <p>Forex Home Trade Support Team</p>
</b>