<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="content">
        <style>
          .terms{
            color:#000;
            line-height:24px;
            font-size:15px;
          }

          .terms li{
            padding:0 0 15px 20px;
            background:image_url('dot.png') no-repeat left 5px;
          }
        </style>
        <h1 style="color:#000;">Terms</h1>
        <p>Forex Home Trade is officially registered in Hong Kong. Company's office is located at the following address: 7, 2/F, SILVER FORTUNE PLAZA, 1 WELLINGTON STREET, CENTRAL, HONG KONG. The following rules are of interaction between the administration of Forex home Trade and participants. These rules are binding on both parties.</p>
        <p>All interested parties are required to read all that is written and stated on this page without skipping even a single word. This acts as the official and binding terms and conditions between You the registrant and our company Forex Home Trade.</p>
        <ul class="terms">
          <li>  1. Using Forex Home Trade services, you confirm that you have read this Agreement, understood its meaning in full and accept this Agreement.</li>
          <li>2. Anyone can register an account and become an investor of the project, provided that he reached at least 18 years old.</li>
          <li>3. Participant can independently determine the amount of the deposit based on a minimum requirement of $100. You will not be able to invest an amount less than this limit.</li>
          <li>4. Forex Home Trade respects the privacy of each participant and uses his personal information for internal needs only. The company never sells such information and does not share with third parties.</li>
          <li>5. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance.</li>
          <li>6. Forex Home Trade is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to Forex Home Trade that you will not use this site in any illegal way and you agree to respect your local, national and international laws.</li>
          <li>7. Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.</li>
          <li>8. All registrants must use a valid e-mail address in order for us to be able to communicate properly when issues arise out of misuse or technical reasons.</li>
          <li>9. All transactions are final and no refunding possible once a deposit has been made.</li>
          <li>10. ***We reserve the rights to decline, reject and reverse deposits back to the depositor for reasons we may either disclose publicly or not, and for whatever reason we deem necessary for the better performance of our company.</li>
          <li>11. You agree to communicate with the company staff directly when there are issues you need to address. Discussion the issue publicly without first notifying us, will be deemed damaging and may causefurther problems in your account , if any.</li>
          <li>12. A one-time activation fee of amount 25$ will be charged upon the creation of new acccount.
          </li>
          <li>13. On forex home Trade , You can generate your bouns 24/7 days, but withdraw can be apply once in a week on sunday. You can withdraw of profits through Skrill, Perfect Money, Payoneer, Bitcoin and account to account transfer.
          </li>
          <li>14. Forex Home Trade never requires or organizes any procedures for the identification of users. An exceptional case may be the suspicion of fraudulent acts or attempts to interfere with the normal operation of the investment platform.
          </li>
          <li>15. Forex Home Trade undertakes to accept deposits, accrue profits and make payments in accordance with the current investment proposal. We reserve the right to make changes to existing Marketing.
          </li>
          <li>16. Forex Home Trade reserves the right to change the terms of cooperation, add new or deactivate existing investment plans without affecting the interests of active investors.
          </li>
          <li>17. Forex Home Trade has the right to terminate accounts if it has explicit or indirect evidence of fraud on the part of the participant. In such a case, you can count on a monetary arrangement if you can prove your innocence to our suspicions.
          </li>
          <li>18. Forex Home Trade only has this investment project. The only channel of communication with clients of the company is https://Forexhometrade.com. Any other website address that anyone is trying to give to our product is phishing and illegitimate! Save your money and always check the address bar of your browser every time you visit our investment platform!
          </li>
        </ul>
        <p>Thank you for cooperating with our terms and conditions.</p>
      </div>
    </div>
  </div>
</div>
