<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <div class="profile-header">
        <div class="profile-block">
          <div class="profile-block-image">
            <%=image_tag "ic_user.png", alt: "image descriptions"%>
          </div>
          <div class="profile-content-block">
            <h2 class="current-user-name">Ihsan Ilyas</h2>
            <h3>ihsanilyas123</h3>
          </div>
        </div>
        <div class="profile-listing">
          <ul>
            <li>
              <div class="image-holder rank-image">
                <%=image_tag "ic_rank.png", alt: "image descriptions"%>
              </div>
              <div class="profile-listing-content">
                <h2>Rank</h2>
                <h3>20</h3>
              </div>
            </li>
            <li>
              <div class="image-holder referrals-image">
                <%=image_tag "ic_referral.png", alt: "image descriptions"%>
              </div>
              <div class="profile-listing-content">
                <h2>Referrals</h2>
                <h3>8</h3>
              </div>
            </li>
            <li>
              <div class="image-holder">
                <%=image_tag "ic_plan.png", alt: "image descriptions"%>
              </div>
              <div class="profile-listing-content">
                <h2>Current Plan</h2>
                <h3>FHT1A</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Content Block 1 End -->

    <!-- Content Block 2 Start -->
    <div class="main-content-block">
      <div class="main-content-body">
        <div class="acount-holder">
          <form action="#">
            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>First Name</label>
                <input type="text">
              </div>
              <div class="custom-dashboard-column">
                <label>Last Name</label>
                <input type="text">
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Username</label>
                <input type="text">
              </div>
              <div class="custom-dashboard-column">
                <label>Email</label>
                <input type="email">
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Phone</label>
                <input type="text">
              </div>
              <div class="custom-dashboard-column">
                <label>Gender</label>
                <select class="selectpicker">
                  <option value="wallet1" selected>Male</option>
                  <option value="wallet2">Female</option>
                </select>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Sponsor</label>
                <input type="text" disabled="">
              </div>
              <div class="custom-dashboard-column upgrade-column">
                <label>Package</label>
                <input type="text">
                <span class="upgraded-text">Upgrade</span>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row sepreter"></div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column full-column">
                <label>Address</label>
                <textarea></textarea>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Country</label>
                <select id="country" name="country"></select>
              </div>
              <div class="custom-dashboard-column">
                <label>State</label>
                <select name="state" id="state"></select>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Zip Code</label>
                <input type="text">
              </div>
            </div>
            <!-- Signup Row End -->

            <div class="button-holder">
              <input class="custom-btn" type="submit" value="Save">
            </div>
          </form>
        </div>

      </div>
    </div>
    <!-- Content Block 2 End -->
  </div>
</main>
<script>
  $(function () {
    populateCountries("country", "state", "city"); // first parameter is id of country drop-down and second parameter is id of state drop-down
//    populateCountries("country2");
//    populateCountries("country2");
  });
</script>