<div id="wrapper">
  <div class="submit-ticket">
    <div class="submit-ticket-holder">
      <h2 class="text-center">Submit a Ticket</h2>
      <br>
      <br>
      <form action="#">
        <div class="submit-ticket-row">
          <label>Requester</label>
          <input type="text">
        </div>
        <div class="submit-ticket-row">
          <label>WCI username</label>
          <input type="text">
        </div>
        <div class="submit-ticket-row">
          <label>Subject</label>
          <input type="text">
        </div>
        <div class="submit-ticket-row">
          <label>Type</label>
          <select>
            <option>---</option>
            <option>Deposits</option>
            <option>Widthdrawals</option>
            <option>Token</option>
            <option>Incorrect Email - Change Email</option>
            <option>Ranking</option>
            <option>Commission</option>
            <option>Other</option>
          </select>
        </div>
        <div class="submit-ticket-row">
          <label>Description</label>
          <div class="ws-editor-holder">
            <div id="txtEditor"></div>
          </div>
        </div>
        <div class="submit-ticket-row">
          <div class="attached-file">
            <label for="attached-file">+ Attached a file</label>
            <input type="file" id="attached-file">
          </div>
        </div>
        <div class="submit-ticket-row seprator">
          <div class="buttons-holder">
            <button type="submit">Submit</button>
            <button type="button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
