<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <div class="heading">
        <h2>Widthdrawal History</h2>
      </div>
      <div class="main-content-body">
        <div class="history-widthdrawal-holder">
          <table>
            <thead>
            <tr>
              <th>Abc</th>
              <th>Abc</th>
              <th>Abc</th>
              <th>Abc</th>
              <th>Abc</th>
              <th>Abc</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2/7/2019</td>
              <td>Usman</td>
              <td>Usman123</td>
              <td>Abc</td>
              <td>12</td>
              <td>-</td>
            </tr>
            <tr>
              <td>2/7/2019</td>
              <td>Usman</td>
              <td>Usman123</td>
              <td>Abc</td>
              <td>12</td>
              <td>-</td>
            </tr>
            <tr>
              <td>2/7/2019</td>
              <td>Usman</td>
              <td>Usman123</td>
              <td>Abc</td>
              <td>12</td>
              <td>-</td>
            </tr>
            <tr>
              <td>2/7/2019</td>
              <td>Usman</td>
              <td>Usman123</td>
              <td>Abc</td>
              <td>12</td>
              <td>-</td>
            </tr>
            <tr>
              <td>2/7/2019</td>
              <td>Usman</td>
              <td>Usman123</td>
              <td>Abc</td>
              <td>12</td>
              <td>-</td>
            </tr>
            <tr>
              <td>2/7/2019</td>
              <td>Usman</td>
              <td>Usman123</td>
              <td>Abc</td>
              <td>12</td>
              <td>-</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Content Block 1 End -->
  </div>
</main>
