<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <% if @news.blank? %>
        <h4 class="alert alert-danger">There isn't any news yet</h4>
      <% else %>
        <% @news.each do |ns| %>
          <div class='news-list-view' style="text-align: center;">
            <div class="heading">
              <h1><%= ns.title %></h1>
            </div>
            <div><%= raw ns.body %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- Content Block 1 End -->
  </div>
</main>
