var html = "";
<% if @user.present? %>
  html = "<label>Sponsor Name: <%= @user.full_name %> </label>";
  html += "<input name='user[referred_by_id]' type='hidden' value='<%= @user.id %>'>"
<% else %>
  html = "<label style='color: red;'>No sponsor found against this ID</label>"
<% end %>
$("#sponsor_info_card").html(html);
