<!DOCTYPE html>
<html>
  <head>
    <title>ForexHomeTrade</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
    <%= stylesheet_link_tag    'registration', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

